{% extends 'base.html.twig' %}

{% block title %}Курсы{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="h1">Курсы</h1>

        <div class="album py-5">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {% for course in courses %}
                        <div class="col course-card">
                            <div class="card shadow-sm">
                                <div class="card-body">
                                    <a href="{{ path('app_course_show', {'id': course.id}) }}"
                                       class="h3">{{ course.name }}</a>
                                    <p class="card-text">
                                        {% if course.description|length > 120 %}
                                            {{ course.description|slice(0, 120) }}...
                                        {% else %}
                                            {{ course.description }}
                                        {% endif %}
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <p>На данный момент курсов нет (</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a class="btn btn-primary" href="{{ path('app_course_new') }}">Добавить новый курс</a>
        {% endif %}
    </div>
{% endblock %}
