{% extends 'base.html.twig' %}

{% block title %}Курс "{{ course.name }}"{% endblock %}

{% block body %}
    <div class="container">
        <p class="h1">{{ course.name }}</p>
        <p class="lead">{{ course.description }}</p>

        {% if lessons %}
            <p class="h2">Уроки</p>
            <ul class="list-unstyled ps-0">
                {% for key, lesson in lessons %}
                    <li>
                        <a class="icon-link mb-1 course-lesson" href="{{ path('app_lesson_show', {'id': lesson.id}) }}"
                           target="_blank">
                            {{ key+1 }}. {{ lesson.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>На данный момент у курса нет уроков</p>
        {% endif %}
        <hr class="my-4">
        <div class="bd-example-snippet bd-code-snippet">
            <a href="{{ path('app_course_index') }}" class="btn btn-outline-secondary">Вернуться к списку</a>

            {% if is_granted('ROLE_SUPER_ADMIN') %}
            <a href="{{ path('app_course_edit', {'id': course.id}) }}" class="btn btn-outline-secondary">Редактировать
                курс</a>
            <a href="{{ path('app_lesson_new') }}?course_id={{ course.id }}" class="btn btn-outline-secondary">Добавить
                урок</a>

            {{ include('course/_delete_form.html.twig') }}
            {% endif %}
        </div>
    </div>
{% endblock %}
