{{ form_start(form) }}
<div class="form-group">
    {{ form_label(form.name) }}
    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.name) }}
</div>

<div class="form-group">
    {{ form_label(form.content) }}
    {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.content) }}
</div>

<div class="form-group">
    {{ form_label(form.orderNumber) }}
    {{ form_widget(form.orderNumber, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.orderNumber) }}
</div>
<button class="btn btn-primary">{{ button_label|default('Сохранить') }}</button>
{{ form_end(form) }}
